* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: poppins, sans-serif;
    background-color: var(--bg1-color);
    color: var(--bg2-color);
}

:root {
    --bg2-color: cyan;
    --bg1-color: rgb(6, 6, 58);
}

.Container {
    background-color: var(--bg1-color);
    color: var(--bg2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2rem 1rem;
}

.logo {
    text-decoration: none;
    color: azure;
    font-size: 60px;
    margin: 10px 50px 20px;
    font-weight: 550;
}

.navbar {
    margin-right: 8rem;
}

.navbar ul li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: azure;
    margin-left: 3rem;
    font-size: 30px;
    font-weight: 400;
    transition: .6s;
}

.navbar a:hover {
    border-bottom: 2px solid;
    border-width: 2px;
    font-size: 35px;
}

.home-container {

    margin: 2rem 3rem 4rem;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.cont {
    font-size: 2.5rem;
    color: azure;

}

.cont span {
    color: var(--bg2-color);
    cursor: pointer;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 0 1px cyan,
        0 0 3px cyan,
        0 0 9px cyan,
        0 0 1px cyan;
}

.pic {
    border-radius: 100%;
    height: 550px;
    width: 550px;
    border-color: blue green yellow;
    border: 1rem solid;
    box-shadow: 0 0 5px cyan,
        0 0 10px cyan,
        0 0 25px cyan,
        0 0 70px cyan;
    background-color: transparent;
}

.contact {
    margin-top: 2rem;
    font-size: 3rem;
}

.contact a {
    text-decoration: none;
    color: cyan;
    border-radius: 100%;
    border: 5px solid;
    border-style: dotted;
    display: flex;
    display: inline-flex;
    align-items: center;
    background: transparent;
    margin-left: 1rem;
}

.contact a:hover {
    font-size: 3.7rem;

}
.contact i:hover{
    transition: .6s;

}

.but {
    position: absolute;
    background-color: var(--bg2-color);
    padding: 2rem 4rem;
    font-size: 2rem;
    color: var(--bg1-color);
    font-weight: 700;
    margin: 5rem;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 5px cyan,
        0 0 10px cyan,
        0 0 15px cyan,
        0 0 40px cyan;
    border: none;
}
.menu {
    display: none;
}

@media screen and (m-width:1075px) {
    .not {
        margin-left: -18rem;
        font-size: 1rem;
    }

    .cont span {
        font-size: 2rem;
    }

    .contact a {
        display: grid;
        border-style: none;
        margin-top: 1rem;
        margin-left: -18rem;
    }

    .but {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-left: -18rem;
    }

    .pic {
        height: 350px;
        width: 350px;
        margin-left: -37rem;
        margin-top: 9rem;

    }
}

.Container-sec {
    margin-top: 10rem;
   
}

.pro-container {
    display: grid;
    margin-left: 2rem;
}
.pro-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 40px cyan;
border: none;
    padding: 2rem;
    height: 380px;
    border-radius: 20px;
}
.pro-logo{
    position: relative;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 40px cyan;
    padding: 0.5rem;
    border-radius: 100%;
}
.pro-logo img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
.por-name{
    position: absolute;
    color: azure;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 2.3rem;
    font-size: 2rem;
}
.pro-caption{
    text-align: center;
    font-size: 2rem;
    color: azure;
    margin-left: 2rem;
    margin-bottom: 3rem;
}
.head{
    text-align: center;
    margin-top: -7rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: azure;
    cursor: pointer;
    font-weight: 600;
}
footer{
    border-bottom: solid 4px azure; 
    margin: 10rem;
    margin-top: 14rem;
}
.head:hover{
    border-bottom: solid 4px azure ; 
    width: min-content;
    margin-left: 42.7%;
    animation-duration: 0.7s;
}
.tag{
    margin-left: 1rem;
    margin-top: 5rem;    
}
.a{
    color: azure;
    text-decoration: none;
    border: solid 2px azure;
    padding: 1.2rem;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 40px cyan;
border: none;
    background-color: var(--bg2-color);
    border-radius: 20px;
    color: var(--bg1-color);
    font-weight: 600;
}
.pro-caption span{
    color: var(--bg2-color);
}
.pro-caption i{
    color: var(--bg2-color);
}
.pro-caption spam{
    color: var(--bg2-color);
}
.footer{
    margin-top: -0.5rem;
    margin-top: 1rem;
}
.ab
{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 40px cyan;
border: none;
    padding: 2rem;
    height: 380px;
    border-radius: 20px;
}
.po
{
    text-align: center;
    font-size: 2rem;
    color: azure;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}